{% extends 'listings/base.html' %}

{% block content %}

  <h2>{{ listing.name }}</h2>

  <p>
    <a href="{% url 'listing-update' listing.id %}">Modifier l'annonce</a>
    <a href="{% url 'listing-delete' listing.id %}">Supprimer l'annonce</a>
  </p>

  <ul>
    <li>Description : {{ listing.description }}</li>
    <li>Type : {{ listing.type }}</li>
    <li>Band : {{ listing.band }}</li>
    <li>Vendu ? {{ listing.sold|yesno }}</li>
    <li>Année : {{ listing.year }}</li>
  </ul>

  <a href="{% url 'listing-list' %}">Retour à tous les listings</a>

{% endblock %}
